<h1><%= title %></h1>

<div>
  <p><strong>Parent Deal ID:</strong> <%= parent_id %></p>
  <p><strong>Deal ID:</strong> <%= deal_id %></p>
  <p><strong>NS Quote ID:</strong> <%= ns_quote_id %></p>
</div>
